*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#0d0d0d;
    color:white;
    transition:.4s;
}

.navbar{
    background:#111;
}

.hero{
    height:100vh;
    background:url("imagens/saojanuario.webp") center center/cover;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.65);
}

.hero-content{
    position:relative;
    z-index:2;
}

.hero h1{
    font-size:5rem;
    font-weight:900;
}

.hero p{
    font-size:1.5rem;
}

.titulo{
    text-align:center;
    color:#d40000;
    margin-bottom:50px;
}

.jogador{
    background:#1a1a1a;
    border:none;
    color:white;
    transition:.3s;
}

.jogador:hover{
    transform:translateY(-10px);
}

.contador{
    text-align:center;
}

#numero{
    font-size:5rem;
    color:#d40000;
    font-weight:bold;
}

footer{
    background:#111;
    text-align:center;
    padding:30px;
}

.claro{
    background:#f4f4f4;
    color:#000;
}

.claro .navbar{
    background:#ffffff;
}

.claro .jogador{
    background:#fff;
    color:#000;
}

.claro footer{
    background:#ddd;
}

@media(max-width:768px){

.hero h1{
    font-size:3rem;
}

.hero p{
    font-size:1rem;
}

}
